########################################################
# Auth Service
########################################################
AUTH_SERVICE_POSTGRES_USER=<user>
AUTH_SERVICE_POSTGRES_PASSWORD=<password>
AUTH_SERVICE_POSTGRES_DB=auth
AUTH_SERVICE_API_EXTERNAL_URL=http://auth.docker.localhost
AUTH_SERVICE_SITE_URL=https://dev-app.isling.me
AUTH_SERVICE_ADDITIONAL_REDIRECT_URLS=
AUTH_SERVICE_DISABLE_SIGNUP=FALSE
AUTH_SERVICE_JWT_EXPIRY=3600
AUTH_SERVICE_JWT_SECRET=<secret>
AUTH_SERVICE_ENABLE_EMAIL_SIGNUP=TRUE
AUTH_SERVICE_ENABLE_ANONYMOUS_USERS=FALSE
AUTH_SERVICE_ENABLE_EMAIL_AUTOCONFIRM=TRUE          # BYPASS email confirmation
AUTH_SERVICE_SMTP_ADMIN_EMAIL=dev-noreply@isling.me # No need if BYPASS email confirmation
AUTH_SERVICE_SMTP_HOST=smtp.sendgrid.net            # No need if BYPASS email confirmation
AUTH_SERVICE_SMTP_PORT=465                          # No need if BYPASS email confirmation
AUTH_SERVICE_SMTP_USER=apikey                       # No need if BYPASS email confirmation
AUTH_SERVICE_SMTP_PASS=<pass>                       # No need if BYPASS email confirmation
AUTH_SERVICE_SMTP_SENDER_NAME="No-Reply"            # No need if BYPASS email confirmation
AUTH_SERVICE_ENABLE_PHONE_SIGNUP=FALSE
AUTH_SERVICE_ENABLE_PHONE_AUTOCONFIRM=TRUE
AUTH_SERVICE_HOST=auth.docker.localhost

########################################################
# API Service
########################################################
API_SERVICE_POSTGRES_USER=<user>
API_SERVICE_POSTGRES_PASSWORD=<password>
API_SERVICE_POSTGRES_DB=isling
API_SERVICE_APP_NAME="Isling API"
API_SERVICE_APP_URL="http://api.docker.localhost"
API_SERVICE_HOST=api.docker.localhost

API_SERVICE_USER_ASSET_BUCKET=dev01-isling-me-asset
API_SERVICE_GOOGLE_APPLICATION_CREDENTIALS=credentials/isling-me-0a7b26fb2468.json

API_SERVICE_WASABI_ACCESS_KEY_ID=<WASABI_ACCESS_KEY_ID>
API_SERVICE_WASABI_SECRET_ACCESS_KEY=<WASABI_SECRET_ACCESS_KEY>
API_SERVICE_WASABI_BUCKET_NAME=dev-assets.isling.me
API_SERVICE_WASABI_REGION=ap-southeast-1
API_SERVICE_WASABI_ENDPOINT_URL=https://s3.ap-southeast-1.wasabisys.com
API_SERVICE_MEDIA_MAX_SIZE_MB=64
API_SERVICE_MEDIA_PRESIGNED_URL_EXPIRY_SECONDS=3600
API_SERVICE_CLOUDFLARE_CDN_BASE_URL=https://dev-assets.isling.me

########################################################
# MQTT Configuration
########################################################
MQTT_SERVICE_HOST=mqtt.docker.localhost

########################################################
# Email template
########################################################
EMAIL_TEMPLATE_SERVICE_HOST=email-template.docker.localhost
